* {

  font-family: "Helvetica , Arial"
}

body{
  padding: 60px;
}
imput {
  font-size: 1.3rem;
  color: #69e837;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow:hidden;
}
.card p{
  padding: 5px;
  text-align: center;
}


.card img{
  max-width: 190px;
max-height: 170px;
}
